.home {
  .features {
    max-width: 75%;
    margin: 0 auto;
    color: @gray;
    padding: 5em 0;
    text-align: center;

    p {
      margin: 2em;
    }

    .features-container {
      display: flex;
      justify-content: space-around;
    }

    .feature {
      max-width: 33.33%;

      img {
        max-width: 50%;
        height: auto;
      }
    }
  }
}// home