.home {
  .features {
    max-width: 75%;
    margin: 0 auto;
    color: @gray;
    padding: 5rem 0;
    text-align: center;

    p {
      margin: 2rem 0;
    }

    .features-container {
      display: flex;
      justify-content: space-around;

      @media @mobile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    .feature {
      max-width: 33.33%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media @mobile {
        max-width: 100%;
      }

      img {
        max-width: 50%;
        height: auto;
        margin: auto;

        @media @mobile {
          max-width: 75%;
        }
      }
    }
  }// features

  .big-features {
    @media @tablet {
      margin: 0 2.5rem;
    }
    .quote {
      font-size: 2rem;
      font-style: italic;
      margin-bottom: 1rem;
    }
    .big-feature {
      margin: 3rem 0;
      display: flex;
      justify-content: space-between;

      @media @mobile {
        margin: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &.first {
          flex-direction: column-reverse;
        }
      }
  
      .left-element {
        max-width: 45%;

        @media @mobile {
          max-width: 90%;
        }
      }
      
      .right-element {
        max-width: 45%;
        @media @mobile {
          max-width: 90%;
        }
      }
  
      .image {
        text-align: center;
      }

      .text {
        padding-top: 10rem;

        @media @mobile {
          padding: 2rem;
        }
      }
  
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }// big-features

  .made-in-lambda {
    text-align: center;
    margin: 10rem 0 5rem 0;

    img {
      margin: 2rem;
      width: 15rem;
      border-radius: 10rem;
    }
  } // made-in-lambda 

}// home

.meet-team {
  background-color: @darkBlue;
  padding: 2rem 0;
  color: @white;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  p {
    font-size: 3.5rem;
  }

  img {
    max-width: 30rem;
    margin: 3rem;
  }
}
