.home {
  .features {
    max-width: 75%;
    margin: 0 auto;
    color: @gray;
    padding: 5em 0;
    text-align: center;

    p {
      margin: 2em 0;
    }

    .features-container {
      display: flex;
      justify-content: space-around;

      @media @mobile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    .feature {
      max-width: 33.33%;

      @media @mobile {
        max-width: 100%;
      }

      img {
        max-width: 50%;
        height: auto;

        @media @mobile {
          max-width: 75%;
        }
      }
    }
  }// features

  .big-features {
    .big-feature {
      margin: 3rem 0;
      display: flex;
      justify-content: space-between;

      @media @mobile {
        margin: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &.first {
          flex-direction: column-reverse;
        }
      }
  
      .left-element {
        max-width: 45%;

        @media @mobile {
          max-width: 90%;
        }
      }
      
      .right-element {
        max-width: 45%;
        @media @mobile {
          max-width: 90%;
        }
      }
  
      .image {
        text-align: center;
      }

      .text {
        padding-top: 10rem;

        @media @mobile {
          padding: 2rem;
        }
      }
  
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }// big-features

}// home