// Mixins in here
.border-bottom() {
  border-bottom-color: #abb2c9;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.btn {
  font-family: 'Roboto', sans-serif;
  padding: 1em;
  margin: 1em;
  font-size: 2em;
  border-radius: 10px;
  background-color: @blue;
  color: @white;
}