// Mixins in here
.border-bottom() {
  border-bottom-color: #abb2c9;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.btn {
  font-family: 'Roboto', sans-serif;
  padding: 1rem;
  margin: 1rem;
  font-size: 2rem;
  border-radius: 1rem;
  background-color: @blue;
  color: @white;
}